.modalBackdrop {
	position: fixed;
	inset: 0;
	z-index: var(--z-index-popover);
}

.blogSearch {
	--float-distance: 20vh;

	contain: paint;
	position: fixed;
	inset: 0;
	width: 90%;
	height: fit-content;
	max-width: 768px; /* $breakpoint-mobile */
	margin: auto;
	border: 1px solid var(--c-primary);
	border-radius: 1em;
	box-shadow: var(--box-shadow-2), var(--box-shadow-3);
	outline: 0.2em solid var(--c-primary-soft);
	background-color: var(--ld-bg-card);
	animation: float-in 0.2s cubic-bezier(0.16, 1, 0.3, 1) backwards;
	z-index: 1;
}

.input {
	display: flex;
	align-items: center;
	gap: 1em;
	position: relative;
	padding: 0 1em;

	> .searchInput {
		width: 100%;
		padding: 1em 0;
		outline: none;
		border: none;
		background: transparent;
		color: var(--c-text);
		font-size: 1em;
	}
}

.noResult {
	max-height: 5em;
	line-height: 5em;
	text-align: center;
	color: var(--c-text-3);
	transition: all 0.5s;
}

.searchResult {
	max-height: 75vh;
	max-height: 75dvh;
	transition: all 0.5s;
	scroll-padding: var(--fadeout-height);
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: auto;
}

.tip {
	max-height: 1rem;
	margin: 0 1em 0.5rem;
	font-size: 0.8em;
	text-align: center;
	color: var(--c-text-3);
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2em;
}
