.zSlider {
	display: flex;
	align-items: center;
	gap: 0.5em;
	user-select: none;
}

.inputSlider[type="range"] {
	flex-grow: 1;
	overflow: hidden;
	height: 1.2em;
	border-radius: 1em;
	background-color: var(--c-bg-soft);
	appearance: none;

	@supports (-moz-appearance: auto) {
		accent-color: var(--c-primary);
		appearance: auto;
	}

	&::-webkit-slider-container {
		min-block-size: auto;
	}

	&::-webkit-slider-runnable-track {
		height: 100%;
	}

	&::-webkit-slider-thumb {
		height: 100%;
		aspect-ratio: 1;
		border: 0.2em solid var(--c-primary);
		border-radius: 50%;
		box-shadow: -100vw 0 0 calc(100vw - 0.6em) var(--c-primary);
		background-color: var(--c-bg-1);
		transition: all 0.2s;
		appearance: none;

		:hover > & {
			background-color: var(--c-bg-3);
		}
	}
}

.dataValue {
	min-width: var(--slider-value, 3ch);
	text-align: right;
}
