.feedCard {
	display: flex;
	align-items: center;
	gap: 0.2em;
	width: 14em;
	margin: 1em auto;
	padding: 0.5em;
	line-height: 1.4;
	transition: transform 0.2s;
	animation: float-in 0.2s var(--delay) backwards;

	&:hover {
		transform: translateY(-2px);
	}

	&[data-error] {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.avatar {
	position: relative;
	margin: 0 0.5em 0 0;

	img {
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		box-shadow: var(--box-shadow-2);
		background-color: var(--ld-bg-card);
		object-fit: cover;
	}
}

.author {
	overflow: hidden;
}

.sitenick {
	opacity: 0.4;
	font-size: 0.8em;
}

.noFeed {
	position: absolute;
	opacity: 0.6;
	inset-inline-end: -0.5em;
	bottom: 0;
	font-size: 0.8em;
}

.feedTooltip {
	overflow: hidden !important;
	overflow: clip !important;
	padding: 0 !important;
	max-width: 22rem;
	border-radius: 0.5em;
	box-shadow: var(--box-shadow-3);
	background-color: var(--ld-bg-card);

	&[data-placement="top"] > :global(.tippy-svg-arrow) {
		fill: var(--c-bg-1) !important;
	}

	&[data-placement="bottom"] > :global(.tippy-svg-arrow) {
		fill: var(--ld-bg-card) !important;
	}
}

.feedCardPopover {
	width: 100%;
}

.siteContent {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em 1em;
	background-color: var(--ld-bg-card);

	.siteIcon {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 4px;
		object-fit: contain;
	}

	.siteInfo {
		display: grid;
		flex: 1;
		margin-inline-end: 0.5em;

		h3 {
			font-size: 1.1em;
			font-weight: bold;
			margin: 0;
		}

		.domain {
			font-size: 0.9em;
		}

		.domainMark {
			font-size: 0.8em;
			vertical-align: super;
		}
	}

	.arch {
		flex-shrink: 0;
		font-size: 1.2em;
	}
}

.descContent {
	position: relative;
	display: grid;
	gap: 0.5em;
	padding: 0.5em 1em;
	background-color: var(--c-bg-1);

	p {
		margin: 0;
		font-size: 0.85em;
		line-height: 1.4;
	}

	p + p {
		margin-top: 0.5em;
	}

	.date {
		position: absolute;
		opacity: 0.1;
		inset-inline-end: -0.1em;
		bottom: -0.3em;
		font-size: 3em;
		font-weight: bold;
		white-space: nowrap;
		pointer-events: none;
	}
}
