.feedCardWrap {
	position: relative;
	display: block;
}

.feedCard {
	display: flex;
	align-items: center;
	gap: 0.2em;
	width: 14em;
	margin: 1em auto;
	padding: 0.5em;
	line-height: 1.4;
	transition: transform 0.2s;
	animation: float-in 0.2s var(--delay) backwards;

	&:hover {
		transform: translateY(-2px);
	}

	&[data-error] {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.tooltip {
	position: absolute;
	overflow: hidden;
	overflow: clip;
	inset-inline-start: 50%;
	bottom: calc(100% + 0.5em);
	width: max-content;
	max-width: min(24rem, 90vw);
	border-radius: 0.4rem;
	box-shadow: var(--box-shadow-2);
	background-color: var(--c-bg-2);
	color: var(--c-text);
	font-size: 0.9rem;
	line-height: 1.4;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, 0.5em);
	transition: opacity 0.2s, transform 0.2s;
	z-index: 20;
}

.feedCardWrap:hover .tooltip,
.feedCardWrap:focus-within .tooltip {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, 0);
}

.siteContent {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em 1em;
}

.siteIcon {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 4px;
	object-fit: contain;
}

.siteInfo {
	display: grid;
	flex: 1;
	margin-inline-end: 0.5em;
}

.domain {
	font-size: 0.9em;
}

.domainMark {
	font-size: 0.8em;
	vertical-align: super;
}

.arch {
	flex-shrink: 0;
}

.descContent {
	position: relative;
	display: grid;
	gap: 0.5em;
	padding: 0.5em 1em;
	background-color: var(--c-bg-1);
}

.date {
	position: absolute;
	opacity: 0.1;
	inset-inline-end: -0.1em;
	bottom: -0.3em;
	font-size: 3em;
	font-weight: bold;
	white-space: nowrap;
	pointer-events: none;
}

.avatar {
	position: relative;
	margin: 0 0.5em 0 0;

	img {
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;
		box-shadow: var(--box-shadow-2);
		background-color: var(--ld-bg-card);
		object-fit: cover;
	}
}

.author {
	overflow: hidden;
}

.sitenick {
	opacity: 0.4;
	font-size: 0.8em;
}

.noFeed {
	position: absolute;
	opacity: 0.6;
	inset-inline-end: -0.5em;
	bottom: 0;
	font-size: 0.8em;
}
