.feedGroup {
	container-type: inline-size;
	margin: 2em 1em;
}

.feedTitle {
	contain: layout;
	position: sticky;
	opacity: 0.5;
	top: 0;
	margin-bottom: -0.3em;
	mask-image: linear-gradient(#FFF 50%, transparent);
	font-family: var(--font-stroke-free);
	font-size: 5em;
	font-weight: 800;
	line-height: 1;
	text-align: center;
	color: transparent;
	transition: color 0.2s;
	-webkit-text-stroke: 1px var(--c-text-3);

	&::selection,
	:global(:hover) > & {
		color: var(--c-text-3);
	}
}

.feedDesc {
	text-align: center;
	color: var(--c-text-2);
}

.feedList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
	gap: 0.2em 0.5em;
	margin: 1em auto;

	@media (max-width: 528px) {
		grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
		font-size: 0.9em;

		:global(.feed-card) {
			flex-direction: column;
			text-align: center;

			:global(.avatar) {
				margin: 0 0 0.2em;
			}
		}
	}

	@container (max-width: 528px) {
		grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
		font-size: 0.9em;

		:global(.feed-card) {
			flex-direction: column;
			text-align: center;

			:global(.avatar) {
				margin: 0 0 0.2em;
			}
		}
	}
}

.feedList :global(.feed-card.feed-card) {
	width: auto;
	margin: 0;
}

.feedList :global(.float-in-move) {
	contain: paint;
	pointer-events: none;
}
