.timeline {
	position: relative;
	padding-inline-start: 1.5em;
	font-size: 0.9em;

	&::before {
		content: "";
		position: absolute;
		inset: 0.5em auto 0;
		inset-inline-start: 0.5em;
		width: 0.3em;
		background-color: var(--c-bg-soft);
	}
}

.timelineCaption {
	opacity: 0.8;
	font-size: 0.9em;

	&::before {
		content: "";
		position: absolute;
		inset-inline-start: 0.3em;
		width: 0.8em;
		height: 0.8em;
		margin-top: 0.5em;
		border-radius: 1em;
		background-color: var(--c-text-2);
	}
}

.timelineBody {
	width: fit-content;
	max-width: 100%;
	margin-bottom: 1em;
	padding: 0 1em;
}

