.preview {
	margin: 1rem 0;
}

.previewHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		mask-image: linear-gradient(#FFF, transparent);
	}
}

.previewList {
	list-style: none;
	padding: 0;
}
