.themeToggle {
	display: flex;
	gap: 3px;
	width: fit-content;
	margin: 0 auto;
	padding: 2px;
	border: 1px solid var(--c-border);
	border-radius: 1rem;
	background-color: var(--c-bg-2);

	> button {
		position: relative;
		padding: 4px 1rem;
		border-radius: 1rem;
		transition: all 0.1s;

		&:hover {
			background-color: var(--c-bg-soft);
			color: var(--c-text-1);
		}

		&.active {
			box-shadow: var(--box-shadow-2);
			background-color: var(--ld-bg-card);
			color: var(--c-text-1);
			cursor: auto;
		}

		&::before,
		&::after {
			position: absolute;
			inset-inline-start: 50%;
			pointer-events: none;
			opacity: 0;
			transform: translate(-50%, 0.4rem);
			transition: opacity 0.15s, transform 0.15s;
			z-index: calc(var(--z-index-popover) + 1);
		}

		&::before {
			content: attr(data-tip);
			bottom: calc(100% + 0.55rem);
			width: max-content;
			padding: 0.35em 0.55em;
			border-radius: 0.5em;
			box-shadow: var(--box-shadow-2), var(--box-shadow-3);
			background-color: var(--ld-bg-card);
			color: var(--c-text);
			font-size: 1rem;
			white-space: nowrap;
		}

		&::after {
			content: "";
			bottom: calc(100% + 0.25rem);
			border: 0.35rem solid transparent;
			border-top-color: var(--ld-bg-card);
			transform: translate(-50%, 0.2rem);
		}

		&:hover::before,
		&:focus-visible::before,
		&:hover::after,
		&:focus-visible::after {
			opacity: 1;
			transform: translate(-50%, 0);
		}
	}
}
