.surroundPost {
	contain: layout;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 3rem 1rem;
}

.surroundLink {
	display: flex;
	align-items: center;
	gap: 0.5em;
	transition: color 0.2s;

	&:not([href]) {
		opacity: 0.4;
		user-select: none;
	}

	&.alignEnd,
	&[align-end] {
		flex-direction: row-reverse;
		margin-inline-start: auto;
		text-align: end;
	}

	.surroundText {
		text-wrap: balance;
		transition: transform 0.2s;

		.title {
			display: block;
			font-weight: bold;
		}

		.date {
			display: block;
			opacity: 0.6;
			font-size: 0.8rem;
		}
	}

	.iconify {
		opacity: 0.5;
		font-size: 2rem;
		transition: transform 0.2s;
		flex-shrink: 0;
	}

	&[href]:hover {
		color: var(--c-primary);

		.surroundText {
			transform: translateX(-1em);
		}

		&.alignEnd .surroundText,
		&[align-end] .surroundText {
			transform: translateX(1em);
		}

		.iconify {
			opacity: 0.2;
			transform: scale(2);
		}
	}
}
