.postArchive {
	--item-gap: var(--archive-item-gap, 0);

	font-size: min(1.1em, 3.8vw);
	font-weight: 500;
	letter-spacing: -0.02em;

	> .archiveItem {
		display: flex;
		align-items: center;
		padding: calc(0.5em + var(--item-gap)) 0;
		border-bottom: 1px dashed var(--c-border);
		transition: all 0.2s;

		&:hover {
			border-bottom-color: var(--c-primary);
			color: var(--c-primary);

			> .archiveTitle {
				transform: translateX(0.3em);
			}

			> .archiveTime {
				opacity: 1;
			}
		}

		> .archiveTime {
			opacity: 0.5;
			font-family: var(--font-stroke-free);
			font-size: 0.8em;
			font-variant-numeric: tabular-nums;
			letter-spacing: 0;
			white-space: nowrap;
			transition: opacity 0.2s;
		}

		> .archiveTitle {
			flex-grow: 1;
			margin-inline-start: 1em;
			font: inherit;
			font-weight: inherit;
			transition: transform 0.2s;
		}
	}
}

