.articleItem {
	display: flex;
	align-items: center;
	column-gap: 0.5em;
	min-width: 0;
	margin: var(--archive-item-gap, 0.2em) 0;
	transition: all 0.2s;
	animation: float-in 0.2s var(--delay) backwards;

	@media (max-width: $breakpoint-mobile) {
		font-size: 0.9em;
	}

	.dimHover {
		opacity: 0.4;
		transition: opacity 0.2s;
	}

	:global(time) {
		font-variant-numeric: tabular-nums;
	}

	.info {
		font-size: 0.8em;
	}

	&:hover,
	&:focus-within {
		.articleTitle {
			color: var(--c-text);
		}

		.dimHover {
			opacity: 1;
		}
	}

	:global(.gradient-card) {
		flex-grow: 1;
		min-width: 0;
	}
}

.articleLink {
	--scrollbar-height: 0px;

	display: flex;
	align-items: baseline;
	gap: 1em;
	padding: 0.3em 0.6em;
	white-space: nowrap;
	text-decoration: none;
	color: inherit;

	.articleTitle {
		display: inline-flex;
		align-items: center;
		gap: 0.2em;
	}

	> .tagList {
		display: flex;
		flex-wrap: nowrap;
		gap: 0.5em;
		margin-left: auto;
		list-style: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;

		&::before {
			content: "#";
			opacity: 0.5;
		}
	}
}
